@charset "UTF-8";
body{
    background-color: honeydew;
    margin:0px auto;
}


header{
    background-color:seagreen;
    color: white;
    margin-top: 0px;
    border:solid 1px seagreen;
}

.main{
    height: 1000px;
    padding:0px 20px;
}

img{
    height: 60px;
    vertical-align: middle;
}

h3{
    font-size: 20px;
    border-bottom:solid 2px black;
}

input{
    font-size: 15px;
    margin:3px;
    height: 60px;
}

footer{
    background-color:gray;
    border-top:double 2px black;
    margin:0px;
}
